<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Inscription promoteur</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      th:href="@{assets_private/vendors/mdi/css/materialdesignicons.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{assets_private/vendors/base/vendor.bundle.base.css}"
    />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{assets_private/css/style.css}" />
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{assets_private/images/favicon.png}" />
  </head>

  <body>
    <div class="container-scroller">
      <div
        class="message"
        style="background-color: #ff5821"
        th:if="${message !=null}"
      >
        <h3 style="color: #fff; text-align: center; padding: 12px">
          [[${message}]]
        </h3>
      </div>
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-stretch auth auth-img-bg"
        >
          <div class="row flex-grow">
            <div
              class="col-lg-6 d-flex align-items-center justify-content-center"
            >
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <!-- <img th:src="@{assets_private/images/logo.svg}" alt="logo"> -->
                  <h2
                    style="font-size: 40px; color: #ff5821; font-weight: bold"
                  >
                    FasoEvent
                  </h2>
                </div>

                <h4>Inscription promoteur</h4>

                <form
                  class="pt-3"
                  th:action="@{/registration-promoteur}"
                  method="post"
                  role="form"
                  th:object="${userPromoteur}"
                >
                  <div class="form-group">
                    <label>Nom de votre société</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        autocomplete="none"
                        th:field="*{fullname}"
                        class="form-control form-control-lg border-left-0"
                        placeholder="Entrez votre nom et prénom"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Adesse mail</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-email-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="email"
                        autocomplete="none"
                        th:field="*{email}"
                        class="form-control form-control-lg border-left-0"
                        placeholder="Entrez votre adresse mail"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Mot de passe</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="password"
                        autocomplete="none"
                        th:field="*{password}"
                        class="form-control form-control-lg border-left-0"
                        id="exampleInputPassword"
                        placeholder="Entrez un mot de passe"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Siège</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        autocomplete="none"
                        class="form-control form-control-lg border-left-0"
                        id="exampleInputSiege"
                        placeholder="Entrez votre siège"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Numéro de téléphone</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        autocomplete="none"
                        class="form-control form-control-lg border-left-0"
                        id="exampleInputNumero"
                        placeholder="Entrez un numéro de telephone"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Domaine d'activité</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <select
                        class="form-select"
                        multiple
                        aria-label="multiple select example"
                        name="activites"
                      >
                        <option value="Cinéma">Cinéma</option>
                        <option value="Théatre">Théatre</option>
                        <option value="Concert">Concert</option>
                        <option value="Festival">Festival</option>
                        <option value="Foire">Foire</option>
                        <option value="Conférence">Conférence</option>
                      </select>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input" />
                        J'accepte les termes & Conditions
                      </label>
                    </div>
                  </div>
                  <div class="mt-3">
                    <input
                      type="submit"
                      class="btn btn-block btn-lg font-weight-medium auth-form-btn w-100 text-white"
                      style="background-color: #ff5821"
                      value="Inscription"
                    />
                  </div>
                  <div class="text-center mt-4 font-weight-light">
                    Avez-vous déja un compte ?
                    <a th:href="@{/login}" class="text-primary">Se connexion</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 register-half-bg d-flex flex-row">
              <p
                class="text-white font-weight-medium text-center flex-grow align-self-end"
              >
                Copyright &copy; 2020 Tous droit reservé.
              </p>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script
      th:src="@{assets_private/vendors/base/vendor.bundle.base.js}"
    ></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script th:src="@{assets_private/js/off-canvas.js}"></script>
    <script th:src="@{assets_private/js/hoverable-collapse.js}"></script>
    <script th:src="@{assets_private/js/template.js}"></script>
  </body>
</html>
